.cardCCWater {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 0px;
}

.imgDogDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.imgDog {
  width: 50%;
  height: 50%;
}

.divButtonIniciate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  margin-top: 20px;
  background-color: #72aaf7;
  border-radius: 15px;
}

.titleIniciate {
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.btnIniciate {
  padding: 1.5em;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  background-color: #74d569;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.btnIniciate:hover {
  background-color: #46cb37;
  color: #fff;
  box-shadow: rgb(136, 230, 149) 0px 5px 20px;
}

.titlesCCWater {
  display: flex;
  width: 100%;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}

.descCCWater {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 10px;
}

.expCCWater {
  font-size: 18px;
  font-weight: 400;
  color: #3c3c3c;
}

.bold {
  font-size: 19px;
  font-weight: 600;
  color: #000000;
}

.itemsCCWater {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

/* Tabela informativa */
.sectionTable {
  max-width: 400px;
  margin: 3rem 0;
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: left;
}
.sectionTable h2 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.sectionTable p {
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
}

.tableContainer {
  width: auto;
  overflow-x: auto;
  margin: 0;
}

.table {
  width: auto;
  border-collapse: collapse;
  font-size: 0.8rem;
  margin: 0 auto;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

/* Seções */
.sectionIntro,
.sectionTable,
.sectionGraph,
.sectionAction {
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .imgDogDiv {
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0px;
  }
  .imgDog {
    width: 50%;
    height: 100%;
  }
}
