.contentPages {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("assets/contentimg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2em;
}

main.contentPages .ant-card-body {
  padding: 0;
}

.rowPadding {
  padding-top: 15px;
}

.pageCardTitle {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px 15px 0 0;
  /* box-shadow: rgb(205, 225, 248) 0px 5px 00px; */
  margin: 0px;
  padding: 0;
  cursor: pointer;
}

/* .pageCardTitle:hover {
  box-shadow: rgba(217, 234, 255, 1) 0px 5px 20px;
} */

.titlepage {
  color: #000;
  font-weight: 600;
  font-size: 22px;
  margin-top: 10px;
}

.ant-card-body {
  padding: 24px 24px 0 24px;
}
