.cardChoices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 0em;
}

.titleCardExperiment {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 5px;
}

.descriptionCardExperiment {
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}
.subtitleCardExperiment {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  margin-top: 10px;
}

.contentChoices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.contentButtonAndLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.cardChartsExperiment {
  display: flex;
  border: none;
  border-radius: 15px;
  box-shadow: rgb(152, 189, 231) 0px 5px 20px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
}
.cardContainer {
  margin-bottom: 30px;
}

.WaitingResult {
  display: flex;
  justify-items: center;
  align-items: center;
}

.divCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.buttonExperiment {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #74d569;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  cursor: text;
}

.btnRealizarExperimento {
  margin-top: 20px;
  background-color: #72aaf7; /* cor verde do bot達o habilitado */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgb(152, 189, 231) 0px 5px 10px;
  padding: 10px;
}

.btnRealizarExperimento:disabled {
  background-color: #ededed; /* cor cinza do bot達o desabilitado */
  color: #a1a1a1;
  cursor: not-allowed;
  box-shadow: none;
}

.timeDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.minHeight {
  max-height: 200px;
  width: 100%;
  overflow-y: scroll;
  gap: 10px;
}

.notaCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #74d569;
  border-radius: 20px;
  align-items: center;
  box-shadow: rgb(152, 231, 194) 0px 5px 10px;
  transform: scale(1);
}
.titleNotaCard {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
.pontosNotaCard {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 10px;
}

.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Altere a cor das setas padr達o */
.slick-prev::before,
.slick-next::before {
  color: black; /* azul padr達o do Ant Design */
  font-size: 30px; /* opcional: aumenta o tamanho da seta */
}

.slick-active button::after {
  color: #000000;
  background-color: #000000;
}
.slick-dots.slick-dots-bottom Li button {
  color: black;
  background-color: red;
}

@media screen and (max-width: 768px) {
  .cardChartsExperiment {
    width: 100%;
  }
  .divCards {
    display: flex;
    flex-direction: column;
  }
}
